:root {
    --white-color: #fff;
    --black-color: #ccc;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --boder-color: #dbdbdb;
    --star-gold-color: #ffec3e;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}

.grid__column-10 {
    width: 83.33334%;
    padding-left: 12px;
    padding-right: 12px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* button style */

.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: none;
    background-color: #ccc;
    color: #ccc;
}

.select-input {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    height: 34px;
    position: relative;
    padding-left: 15px;
}

.select-input__lable {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: -2px;
}


/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item--active {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

.pagination-item--active:hover {
    filter: brightness(0.97);
}

.pagination-item {
    margin: 0 8px;
}

.pagination-item__link {
    text-decoration: none;
    display: block;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}